
<div class="header">
    <h1>Taps</h1>
    <h2>Put Beers on Taps</h2>
</div>

<button class="add" title="add tap" (click)="add()">Add Tap</button>
<button class="delete" title="delete tap" (click)="delete()">Delete Tap</button>
<div class="display-grid">
  <div *ngFor="let tap of taps">
      Tap {{tap.tap_number}}
      <select (change)="serveRecipe($event.target.value, tap.id)">
        <option value="0">**NOTHING**</option>
        <option *ngFor="let recipe of possibleRecipes" value={{recipe.id}}
          [selected]="tap.serving && tap.serving.id === recipe.id ? true : null">{{recipe.name}}</option>
      </select>
  </div>
</div>

