
.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}
 .header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
 }
  .header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
 }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

.recipe {
    padding: 10px;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.collapse {
    cursor: pointer;
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;
   }