<div class="header">
    <h1>Recipes</h1>
    <h2>What have you made?</h2>
</div>

<h1 class='collapse' (click)="toggleCreate()">Create a recipe</h1>
  <div *ngIf="create">
    <label>Recipe Name:
      <input #recipeName /> <br />
    </label>
    <div>Description:</div>
      <textarea #recipeDescription></textarea> <br />
    <label>SRM:
      <input type="number" step="0.1" min="0" #recipeSRM /> <br />
    </label>
    <label>ABV:
      <input type="number" step="0.1" min="0" #recipeABV /> <br />
    </label>
    <button (click)="add(recipeName.value, recipeDescription.value, recipeABV.value, recipeSRM.value); recipeName.value=''; recipeDescription.value=''">
      Add Recipe
    </button>
  </div>

<h1 class="collapse" (click)="toggleUpload()">Upload a Recipe</h1>
  <div *ngIf="uploading">
    <div>
      <fieldset>
        <legend>Upload on form submit</legend>
        BeerXML file:
        <input #beerXML type="file" class="form-control" name="documents" required="">
        <button (click)="onChange(beerXML.files)">Submit</button>
      </fieldset>
      <br>
    </div>
    <br>
  </div>

<h1 class='collapse' (click)="toggleViewing()">Current Recipes</h1>

<div *ngIf="viewing" class="display-grid">
  <div *ngFor="let recipe of recipes" class='recipe'>
    <button class="delete" title="delete recipe"
      (click)="delete(recipe)">x</button>
    <a routerLink="/recipes/{{recipe.id}}">
      <h1>
        {{recipe.name}}
      </h1>
    </a>
    <h2>Tap {{recipe.tap}}</h2>

    <h3>ABV: ({{recipe.abv}}%)</h3>
    <h3>SRM: {{recipe.srm}}</h3>
    <p>{{recipe.description}}</p>

    <p>Rating: {{ recipe.average_rating }}</p>
  </div>

</div>

