<div class="header">
    <h1>Dashboard</h1>
    <h2>Show me it all</h2>
</div>
<div class="grid grid-pad">
  <div *ngFor="let tap of taps" class="col-1-4" [routerLink]="tap.serving ? ['/recipes/', tap.serving.id] : null">
    <div class="module serving">
      <h2>Tap {{tap.tap_number}}</h2>
      <span *ngIf="tap.serving">{{tap.serving.name}}</span>
      <span class='abv-float' *ngIf="tap.serving">{{tap.serving.abv}}% </span>
    </div>
  </div>
</div>
