.grid {
    display: grid;
    grid-template-columns: 4em auto;
    grid-template-rows: repeat(2, auto);
  }

.nav-icon {
  width: 2em;
  height: auto;
}

header,
aside,
footer {
  background: #eaeaea;
  padding: 1em;
}

.main-content {
    background: white;
    padding: 3em;
    grid-column-start: 2;
    grid-column-end: 3;
}

header, footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  padding: 1em 0;
}

.beer-display-table {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.container {
  display: inline-grid;
}

.display-grid {
  display: grid;
  grid-template-columns: 25em 25em 25em;
  grid-gap: 2em;
  grid-auto-rows: auto;
}

.display-grid > div {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  background-color:  #eaeaea;
}

.delete {
  position: absolute;
  bottom: 0;
  right: 1.5em;
  width: 30px;
}