<div class="header">
    <h1>Recipe Details</h1>
    <h2>Tell me more about it</h2>
</div>

<button (click)="goBack()">go back</button>

<div *ngIf="recipe">
  <h2>{{recipe.name | uppercase}}</h2>
  <p>{{recipe.description}}</p>
  <p>{{ recipe.modified }}</p>
  <div>
    <label>name:
      <input [(ngModel)]="recipe.name" placeholder="name">
    </label>
  </div>
  <div>
    <div>description:</div>
    <textarea [(ngModel)]="recipe.description"></textarea>
  </div>
  <div>
    <label>ABV:
      <input type='number' [(ngModel)]="recipe.abv" placeholder="3.5" min="0" step="0.1">%
    </label>
  </div>
  <div>
      <label>SRM:
        <input type='number' [(ngModel)]="recipe.srm" placeholder="5.6" min="0" step="0.1">
      </label>
    </div>
<button (click)="save()">save</button>
</div>